/* ---- Theme Variables ---- */
/* Font */
/* Colors */
/* Transitions */
/* Element radius */
@font-face {
  font-family: 'mikeicon';
  src: url("../webfonts/mikeicon.ttf?e0o763") format("truetype"), url("../webfonts/mikeicon.woff?e0o763") format("woff"), url("../webfonts/mikeicon.svg?e0o763#seedzicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="mikeicon-"], [class*=" mikeicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mikeicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mikeicon-mobile-menu:before {
  content: "\e919";
}

.mikeicon-x:before {
  content: "\e91a";
}

.mikeicon-home:before {
  content: "\e906";
}

.mikeicon-checkmarkcircle:before {
  content: "\e907";
}

.mikeicon-checkmark:before {
  content: "\e908";
}

.mikeicon-repeating-event:before {
  content: "\e909";
}

.mikeicon-filter:before {
  content: "\e90a";
}

.mikeicon-filter.active:before {
  content: "\e90a";
  color: #E4662A;
}

.mikeicon-plus:before {
  content: "\e90d";
}

.mikeicon-pluscircle:before {
  content: "\e90e";
}

.mikeicon-caret-l:before {
  content: "\e90f";
}

.mikeicon-caret-u:before {
  content: "\e910";
}

.mikeicon-caret-r:before {
  content: "\e911";
}

.mikeicon-caret-d:before {
  content: "\e912";
}

.mikeicon-dots-h:before {
  content: "\e913";
}

.mikeicon-dots-v:before {
  content: "\e914";
}

.mikeicon-goals:before {
  content: "\e915";
}

.mikeicon-finances:before {
  content: "\e916";
}

.mikeicon-schedule:before {
  content: "\e917";
}

.mikeicon-tasks:before {
  content: "\e918";
}

.mikeicon-arrow:before {
  content: "\e900";
}

.mikeicon-email:before {
  content: "\e901";
}

.mikeicon-fb:before {
  content: "\e902";
}

.mikeicon-password:before {
  content: "\e903";
}

.mikeicon-tw:before {
  content: "\e904";
}

.mikeicon-user:before {
  content: "\e905";
}

/*---- General - Theme Styles ----*/
html {
  font-size: 16px;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #313140;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

p {
  line-height: 1.65em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

table {
  width: 100%;
}

a {
  color: #E4662A;
}

a, .btn, button {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover, .btn:hover, button:hover {
  text-decoration: none;
}

a:focus, .btn:focus, button:focus {
  outline: none;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

figcaption {
  padding-top: 8px;
  font-size: .85em;
}

.text-muted {
  color: #78778E !important;
}

.badge {
  font-weight: 400;
  border-radius: 3px;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.badge.badge-success {
  background-color: rgba(0, 200, 83, 0.12);
  color: #00C853;
}

.badge.badge-danger {
  background-color: rgba(242, 71, 56, 0.12);
  color: #F24738;
}

.progress {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.progress-bar {
  background-color: #E4662A;
  text-align: right;
  padding: 0 6px;
}

.text-danger {
  color: #F24738 !important;
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: unset;
  }
}

/* Dropdown Menu */
.dropdown-menu {
  background-color: #20202B;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.125);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.125);
}

.dropdown-item {
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 12px 30px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.2rem;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .dropdown-item {
    padding: 20px 30px;
  }
}

.dropdown-divider {
  border-top-color: rgba(255, 255, 255, 0.1);
  margin: 0;
}

.dropdown-menu-animated {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(0.94) translateY(20px);
      -ms-transform: scale(0.94) translateY(20px);
          transform: scale(0.94) translateY(20px);
}

.dropdown-menu--withicons > li > a {
  padding-right: 60px;
  position: relative;
}

.dropdown-menu--withicons > li > a [class^="icon-"] {
  position: absolute;
  right: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .35;
}

.show > .dropdown-menu:not(.animated) {
  display: block;
}

.show > .dropdown-menu-animated {
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

@media only screen and (max-width: 992px) {
  .dropdown-mobile .dropdown-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto !important;
    width: 100vw;
    -webkit-transform: translate3D(0, 20px, 0);
        -ms-transform: translate3D(0, 20px, 0);
            transform: translate3D(0, 20px, 0);
  }
  .dropdown-mobile .dropdown-item {
    padding: 20px 30px;
  }
  .dropdown-mobile.show .dropdown-menu {
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
  }
}

/* Modal */
.modal .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .85em;
  margin: 0;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  outline: none !important;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.modal .close i {
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  display: inline-block;
}

.modal .close:hover {
  color: rgba(255, 255, 255, 0.75);
}

.modal .close:hover i {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-content {
  border: none;
  border-radius: 3px;
  position: relative;
  background-color: #313140;
}

.modal-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .modal-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-title {
  text-align: center;
  font-size: .8em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #78778E;
}

@media only screen and (min-width: 992px) {
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .modal-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-inner {
  max-width: 460px;
  margin: 0 auto;
}

/* Nav Tabs */
.nav-tabs-simple {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.nav-tabs-simple .nav-item + .nav-item {
  margin-left: 20px;
}

.nav-tabs-simple .nav-link {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  padding: 10px 0;
}

.nav-tabs-simple .nav-link:hover {
  color: rgba(255, 255, 255, 0.65);
  border-color: transparent;
}

.nav-tabs-simple .nav-link.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #fff;
          box-shadow: inset 0 -2px 0 #fff;
}

@media only screen and (max-width: 992px) {
  .nav-tabs-simple .nav-link {
    font-size: .85rem;
  }
}

/* Misc */
.not-visible {
  display: none;
}

.avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(123, 198, 228, 0.35);
}

.date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-day {
  font-size: 2.4rem !important;
  margin-right: 6px !important;
}

@media only screen and (max-width: 992px) {
  .date-day {
    font-size: 1.8rem !important;
  }
}

.date-month {
  font-size: .9rem !important;
  line-height: 1em !important;
}

@media only screen and (max-width: 992px) {
  .date-month {
    font-size: .8rem !important;
  }
}

.list {
  margin-bottom: 40px;
}

.list .progress {
  height: 26px;
  position: relative;
}

.list .progress-bar {
  color: #262D39;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 2;
}

.list .progress-total {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 8px;
  opacity: .8;
  padding-top: 1px;
}

.list-head {
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 40px;
  margin-bottom: 2px;
  -webkit-box-shadow: inset 4px 0 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 4px 0 0 rgba(255, 255, 255, 0.5);
}

.list-head h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list-head h3 i {
  opacity: .65;
}

@media only screen and (max-width: 992px) {
  .list-head {
    padding: 10px 16px;
  }
  .list-head h3 {
    font-size: 1rem;
  }
}

.list-head-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-head-actions > * {
  margin-left: 15px;
}

.list-head-more {
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: .8rem;
}

.list-head-more a {
  color: rgba(255, 255, 255, 0.5);
}

.list-head-more a:hover {
  color: #fff;
}

.list-head-more a i {
  margin-left: 4px;
  position: relative;
  top: 1px;
  opacity: .8;
}

@media only screen and (max-width: 992px) {
  .list-head-more .text {
    display: none;
  }
  .list-head-more i {
    margin-left: 0;
  }
}

.distancer-h {
  padding: 0 8px;
}

.list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  margin-bottom: 1px;
  position: relative;
}

.list-row p {
  margin: 0;
  line-height: 1.3em;
  font-size: 1.1rem;
}

.list-row .badge {
  position: relative;
  top: -2px;
}

.list-row .mikeicon-type-rehersal,
.list-row .mikeicon-type-meeting {
  font-size: 1.6rem;
  line-height: 1em;
}

.list-row .mikeicon-repeating-event {
  opacity: .5;
}

@media only screen and (max-width: 992px) {
  .list-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list-row-completed p {
  text-decoration: line-through;
  opacity: .4;
}

@media only screen and (min-width: 992px) {
  .list-row-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list-row-link {
  color: #fff;
}

.list-row-link:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
}

.list-row-due-today {
  -webkit-box-shadow: inset 4px 0 0 #E4662A;
          box-shadow: inset 4px 0 0 #E4662A;
}

.list-row-due-today .badge-status {
  color: #E4662A;
  border-color: #E4662A;
}

.list-row-overdue {
  -webkit-box-shadow: inset 4px 0 0 #F24738;
          box-shadow: inset 4px 0 0 #F24738;
}

.list-row-overdue .badge-status {
  color: #F24738;
  border-color: #F24738;
}

.list-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 25px;
}

@media only screen and (min-width: 992px) {
  .list-col:first-child {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .list-col {
    padding: 14px 16px;
  }
  .list-col + .list-col {
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .list-col-center {
    text-align: center;
  }
  .list-col-right {
    text-align: right;
  }
}

.list-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.list-check-filled {
  background-color: #fff;
  color: #262D39;
  border-color: transparent;
}

@media only screen and (max-width: 992px) {
  .list-col-status {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

.due {
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: .9rem !important;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2px;
}

.due span {
  color: #fff;
}

@media only screen and (min-width: 992px) {
  .list-col-100 {
    width: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .list-col-150 {
    width: 150px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .list-col-200 {
    width: 200px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .list-col-250 {
    width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .list-col-300 {
    width: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .list-col-350 {
    width: 350px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.progress-bar--green {
  background: #00C853;
}

.list-row--priority {
  position: relative;
}

.list-row--priority:before {
  content: '!';
  position: absolute;
  left: 10px;
  top: 15px;
  left: 8px;
  top: 8px;
  font-size: 25px;
  color: #F24738;
}

.list-row {
  position: relative;
}

.list-row__menu {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.list-row__menu img {
  display: block;
  width: 12px;
  margin-bottom: 5px;
}

.list-row__menu img:last-child {
  margin-bottom: 0;
}

.list-row:hover .list-row__menu {
  opacity: 1;
}

/* Forms */
.form .form-control {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 1.1em;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  border: 1px solid rgba(49, 49, 64, 0.12);
  height: 38px;
  color: #313140;
  -webkit-box-shadow: 0 2px 6px rgba(49, 49, 64, 0.05);
          box-shadow: 0 2px 6px rgba(49, 49, 64, 0.05);
}

.form .form-control:focus {
  border-color: #8798A3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form-control.form-area {
  height: auto;
}

.form .form-control::-webkit-input-placeholder {
  color: rgba(120, 119, 142, 0.5);
}

.form .form-control::-moz-placeholder {
  color: rgba(120, 119, 142, 0.5);
}

.form .form-control:-ms-input-placeholder {
  color: rgba(120, 119, 142, 0.5);
}

.form .form-control:-moz-placeholder {
  color: rgba(120, 119, 142, 0.5);
}

.form .form-control option {
  color: #222;
}

.form .form-group > label {
  font-weight: 400;
  font-size: 14px;
  color: #78778E;
  margin-bottom: 6px;
}

.form .form-group .form__error {
  display: none;
  font-size: 13px;
  padding: 4px 0;
  color: #F24738;
}

.form .has-error .form-control {
  border-color: #F24738;
}

.form .has-error .form__error {
  display: block;
}

.form .help-block {
  font-size: 13px;
  color: rgba(38, 45, 57, 0.55);
  margin-top: 7px;
}

.form--lined .form-control {
  background-color: transparent;
  border-radius: 0;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.form--lined .form-control:focus {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

.form--lined .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.form--lined .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.form--lined .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.form--lined .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.form-prefix {
  position: relative;
}

.form-prefix .form-control {
  padding-left: 35px !important;
}

.form-prefix .form__picto {
  position: absolute;
  left: 10px;
  top: 50%;
  opacity: .35;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: .85em;
}

.form-sufix {
  position: relative;
}

.form-sufix .form-control {
  padding-right: 45px !important;
}

.form-sufix .form__picto {
  position: absolute;
  right: 10px;
  top: 50%;
  opacity: .35;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: .85em;
}

.form--lined .form-prefix .form__picto {
  left: 0;
  width: 15px;
  text-align: center;
}

.form--lined .form-prefix .form-control {
  padding-left: 30px !important;
}

.form--lined .form-sufix .form__picto {
  right: 0;
  width: 15px;
  text-align: center;
}

.form--lined .form-sufix .form-control {
  padding-right: 30px !important;
}

.form-text {
  color: #78778e !important;
  font-size: 14px;
  line-height: 1.2em;
  margin-top: .6rem;
}

.custom-checkbox .custom-control-label::before {
  background-color: rgba(49, 49, 64, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #E4662A;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form--inputbg .form-control {
  background-color: rgba(0, 0, 0, 0.12);
  padding-left: 12px;
  padding-right: 12px;
}

.form--inputbg .form-control:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Buttons */
.btn {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.btn:hover {
  text-decoration: none;
  border: none;
}

.btn:focus {
  outline: none !important;
}

.btn-default {
  background-color: rgba(255, 255, 255, 0.35);
  color: #313140;
}

.btn-default:hover {
  background-color: #fff;
  color: #E4662A;
}

.btn-primary,
.btn-primary:focus {
  background-color: #fff;
  color: #000;
  position: relative;
  overflow: hidden;
}

.btn-primary:hover,
.btn-primary:focus:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.btn-outline,
.btn-outline:focus {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.btn-outline:hover,
.btn-outline:focus:hover {
  -webkit-box-shadow: inset 0 0 0 2px #fff !important;
          box-shadow: inset 0 0 0 2px #fff !important;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-brand,
.btn-brand:focus {
  background-color: #E4662A;
  color: #fff;
}

.btn-brand:hover,
.btn-brand:focus:hover {
  background-color: #e77641;
  color: #fff;
}

@media only screen and (min-width: 767px) {
  .btn-wide {
    min-width: 180px;
  }
}

.btn-text {
  border-bottom: 1px solid rgba(228, 102, 42, 0.35);
}

.btn-text:hover {
  color: #313140;
  border-bottom-color: transparent;
}

.btn-text-white {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.btn-text-white:hover {
  color: #E4662A;
  border-bottom-color: transparent;
}

.text-muted .btn-text-white {
  color: rgba(255, 255, 255, 0.55);
}

.text-muted .btn-text-white:hover {
  color: #E4662A;
  border-bottom-color: transparent;
}

.btn-withicon i {
  margin-right: 6px;
  position: relative;
  font-size: .9em;
  top: 1px;
}

.btn-withlasticon i {
  margin-left: 8px;
  position: relative;
  max-height: 33px;
  top: 1px;
  margin-top: -2px;
  margin-bottom: -2px;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  display: inline-block;
}

.btn-withlasticon .mikeicon-arrow,
.btn-withlasticon .mikeicon-arrow-alt {
  font-size: .7em;
  position: relative;
  top: -1px;
}

.btn-withlasticon:hover .mikeicon-arrow,
.btn-withlasticon:hover .mikeicon-arrow-alt {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.btn-group .btn--outline.active {
  background-color: rgba(255, 255, 255, 0.75);
  color: #313140;
}

.bth--transparent {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
  padding: 16px 32px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 230px;
}

.bth--transparent:hover {
  background: #E4662A;
  border: 1px solid #E4662A;
}

.btn-transparent-white {
  background: transparent;
  border: 2px solid #fff;
}

.btn-transparent-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #313140;
}

/*---- Footer ----*/
.site-footer {
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: .85rem;
}

.modal-open .site-header,
.modal-open .content,
.modal-open .site-footer {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

/* Helpers */
.overlay {
  background-color: rgba(49, 49, 64, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 8px;
  height: 30%;
  background-color: rgba(228, 102, 42, 0.15);
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animatedin {
  opacity: 0;
  -webkit-transform: translateY(18px);
      -ms-transform: translateY(18px);
          transform: translateY(18px);
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.animatedin.in {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.animatedin.stop {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

/* Table */
.table > thead > tr > th {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.45);
  line-height: 1.2em;
}

.table > tbody > tr > td {
  line-height: 1.2em;
  border-top-color: rgba(255, 255, 255, 0.12);
}

.table .text-large {
  font-size: 1.1em;
}

.table-tight > tbody > tr > td {
  padding-top: 9px;
  padding-bottom: 9px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.15);
}

.row-highlight {
  background-color: #E4662A !important;
}

.row-highlight .text-large {
  font-size: 1.4em;
}

.row-highlight > td {
  vertical-align: middle;
}

.row-highlight--light {
  background-color: rgba(228, 102, 42, 0.55) !important;
}

.row-highlight--light > td {
  border-top: 1px solid #313140;
  vertical-align: middle;
}

/*---- Main Content ----*/
/* Layout */
.site-side {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #313140;
  z-index: 10;
}

.site-side .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.site-side .nav-link {
  padding: 12px 25px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: .85em;
}

.site-side .nav-link:hover {
  color: #fff;
}

.site-side .nav-link.active {
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-box-shadow: inset 3px 0 0 rgba(228, 102, 42, 0.8);
          box-shadow: inset 3px 0 0 rgba(228, 102, 42, 0.8);
}

.site-side .nav-item--sub .nav-link {
  font-weight: 400;
  font-size: .8em;
  opacity: .7;
}

.site-side .nav-item--sub .nav-link:hover {
  opacity: 1;
}

.site-side__branding {
  padding: 45px 25px;
  padding-right: 0;
  padding-bottom: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.site-side__branding .mikeicon-pancho {
  font-size: 2.4em;
}

.site-side__branding img {
  width: 175px;
}

.site-side__tagline {
  font-size: 11px;
  line-height: 1.25em;
  opacity: .45;
  margin-top: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding-top: 8px;
}

.site-side__foot {
  padding: 30px 25px;
  padding-right: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.site-side__foot p {
  margin: 0;
  margin-bottom: 7px;
  font-size: .85em;
}

.cblock {
  padding-top: 89px;
}

.cblock h2 {
  margin-bottom: 35px;
  font-size: 2.2em;
  line-height: 1.15em;
}

.cblock h3 {
  font-size: 1.5em;
}

.cblock--topdelimited {
  margin-top: 78px;
}

.cblock--topline {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

/* Content Nav */
.content__nav {
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 10;
  text-align: right;
  padding-bottom: 60px;
}

.content__nav.is_stuck {
  padding-bottom: 0;
}

.content__nav.is_stuck .content-nav {
  padding: 0 5px;
  margin-right: -5px;
}

.content-nav {
  border-bottom: 1px solid #3A3E46;
  font-size: .8em;
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #313140;
}

.content-nav .nav-item + .nav-item {
  margin-left: 30px;
}

.content-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 500;
  padding: 14px 0;
  position: relative;
}

.content-nav .nav-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #E4662A;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.content-nav .nav-link.active {
  color: #E4662A;
}

.content-nav .nav-link.active:after {
  width: 100%;
}

/* Content */
.page__branding {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 35px;
}

.page__branding img {
  width: 70px;
  display: inline-block;
}

.cblock--main {
  padding-top: 43px;
}

.cblock--main .cblock__sect {
  border-top: none;
}

.cblock__head {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.cblock__head h1 {
  font-size: 4.2em;
  line-height: 1.1em;
  margin-bottom: 40px;
}

.cblock__head--intro {
  padding-right: 30px;
}

.cblock__sect {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E4662A;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.cblock__sect span {
  background-color: #313140;
  padding-top: 3px;
  padding-right: 8px;
  position: relative;
  top: -6px;
}

.cblock__subsect {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(228, 102, 42, 0.7);
  position: relative;
  margin-top: 55px;
  margin-bottom: 35px;
}

.cblock__subsect::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.cblock__body {
  width: 100%;
}

.cblock__topintro {
  margin-top: 0;
}

.cblock__intro {
  font-size: 1.25em;
  line-height: 1.45em;
  color: rgba(255, 255, 255, 0.65);
}

.cblock__highlight {
  font-size: 1.35em;
  line-height: 1.55em;
}

.hero-img img,
.cblock__fullimg img {
  width: 100%;
  height: auto;
}

.cblock__cta {
  padding-top: 12px;
  text-align: right;
}

.box {
  background-color: rgba(0, 0, 0, 0.25);
}

.box .cblock__intro {
  color: #fff;
}

.box__body {
  padding: 65px 75px;
}

.box__twocols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__twocols .box__copy {
  padding-right: 50px;
}

.box__cta {
  padding-top: 15px;
}

.btn-linkedin {
  background-color: rgba(255, 255, 255, 0.15);
  padding-top: 13px;
  color: #fff;
}

.btn-linkedin i {
  color: #E4662A;
  font-size: 1.3em;
}

.boxes--schools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.boxes--schools .box__head {
  padding: 25px 35px;
}

.boxes--schools .box__body {
  padding: 25px 35px;
  padding-top: 0;
}

.boxes--companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.boxes--companies .box {
  margin-top: 50px;
  margin-bottom: 15px;
}

.boxes--companies .box__img {
  margin-top: -50px;
}

.boxes--companies .box__img img {
  width: 90%;
  margin-left: 5%;
}

.boxes--companies .box__body {
  padding: 25px 35px;
}

.boxes--companies h5 {
  margin-bottom: 20px;
}

.boxes--companies p {
  color: rgba(255, 255, 255, 0.8);
}

.admin-logo {
  position: relative;
}

.admin-logo img {
  width: 180px;
  position: absolute;
  right: 20px;
  top: -40px;
}

.table-admin > tbody > tr > th {
  text-align: right;
  font-size: .9em;
  font-weight: 400;
  opacity: .5;
}

.table-admin > tbody > tr > td {
  font-weight: 700;
}

.inline-gallery {
  position: relative;
}

.inline-gallery__nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-gallery__nav a {
  background-color: rgba(49, 49, 64, 0.65);
  color: rgba(255, 255, 255, 0.55);
  width: 70px;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inline-gallery__nav a:hover {
  background-color: rgba(49, 49, 64, 0.85);
  color: #fff;
}

.inline-gallery__nav .gall-prev {
  margin-right: 1px;
}

.inline-gallery__nav .gall-prev i {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.inline-gallery__slide img {
  width: 100%;
  height: auto;
}

.inline-gallery__thumbs {
  margin-top: 12px;
  margin-bottom: 90px;
}

.inline-gallery__thumbs .inline-gallery__slide {
  -webkit-box-shadow: 0 0 0 2px #313140;
          box-shadow: 0 0 0 2px #313140;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  opacity: .45;
  position: relative;
}

.inline-gallery__thumbs .inline-gallery__slide:focus {
  outline: none;
}

.inline-gallery__thumbs .inline-gallery__slide:hover {
  opacity: .65;
  cursor: pointer;
}

.inline-gallery__thumbs .inline-gallery__slide.slick-current {
  opacity: 1;
  z-index: 2;
}

/* Stats grid */
.grid--stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.grid__item {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
}

.grid__item p {
  margin: 0;
  line-height: 1.2em;
}

.grid__item .grid__head {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.grid__item .grid__intro {
  font-size: .8em;
  opacity: .5;
  margin-bottom: 15px;
  min-height: 30px;
}

.grid__item .stat-val {
  font-size: 1.8em;
}

.grid__item .small {
  font-size: .55em;
  line-height: 1.1em;
}

.grid__item .stacked {
  display: block;
}

.grid__item .grid__link {
  display: block;
  position: relative;
}

.grid__item .grid__link::after {
  content: "\e901";
  font-family: "mikeicon";
  position: absolute;
  right: 0;
  top: 25px;
  opacity: .35;
  color: #fff;
  -webkit-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}

.grid__item .grid__link:hover {
  opacity: .8;
}

.grid__item .grid__link:hover::after {
  -webkit-transform: translateX(4px);
      -ms-transform: translateX(4px);
          transform: translateX(4px);
}

.grid__item--large .stat-val {
  font-size: 2.1em;
}

.grid__item--large .stat-desc {
  font-size: .9em;
  margin-top: 6px;
}

.grid__item--largest .stat-val {
  font-size: 2.4em;
}

.grid__item--largest .stat-desc {
  font-size: .9em;
  margin-top: 6px;
}

.grid__item--full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid__item--full .stat-val {
  font-size: 2.6em !important;
}

.grid--dualstat .d-flex > div {
  padding-right: 20px;
}

.grid--dualstat .d-flex > div:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.grid--companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.grid--companies .grid__item {
  padding: 15px;
  background-color: transparent;
}

.grid--companies .grid__item img {
  width: 100%;
  height: auto;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  opacity: .85;
}

.grid--companies .grid__item:hover img {
  opacity: 1;
}

.grid--employment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.grid--employment-alt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.grid--employment-alt .stacked {
  margin-bottom: 12px;
}

.grid--imageslist {
  grid-template-columns: 1fr;
}

.grid--imageslist .grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid--imageslist .grid__stats {
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.grid--imageslist .grid__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.grid--imageslist .grid__img {
  margin: -20px -25px;
  margin-right: 0;
}

.grid--imageslist .grid__img img {
  width: 130px;
  height: auto;
}

.grid--property {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid--property .grid__item .d-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid--property .grid__item .d-flex .grid__secondary {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 25px;
  margin-top: 20px;
}

.grid--property .grid__item .d-flex .grid__secondary .stat-val {
  font-size: 1.5em;
}

.grid--property .grid__item .d-flex .grid__secondary .stat-desc {
  font-size: .8em;
}

.grid--property .grid__item--large {
  grid-row: 1/3;
}

.grid--property .grid__item--large .grid__primary .stat-desc {
  min-height: 35px;
}

.grid__item--icon i {
  float: right;
  font-size: 3em;
  margin-top: 5px;
  margin-left: 15px;
  opacity: .25;
  line-height: 1em;
}

.grid--units {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid--units .stat-desc {
  font-size: 1.1em;
}

.grid--amenities {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  overflow: hidden;
}

.grid--amenities .grid__item {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid--amenities .grid__img {
  width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.grid--amenities .grid__img img {
  width: 100%;
  height: auto;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.grid--amenities .grid__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 80px;
  z-index: 1;
}

.grid--amenities .grid__desc h6 {
  color: rgba(114, 215, 233, 0.5);
}

.grid--amenities .grid__desc p {
  margin-top: 20px;
  line-height: 1.7em;
}

.grid--crime .grid__item .d-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid--crime .grid__item .d-flex > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grid--crime .grid__secondary {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.grid--crime .grid__secondary .stat-val {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.4);
}

.grid--crime .grid__secondary .stat-desc {
  color: rgba(255, 255, 255, 0.35);
}

.grid--demographics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid--demographics .grid__item {
  text-align: center;
}

.grid--demographics .grid__item i {
  font-size: 2.6em;
  opacity: .25;
  display: block;
  margin-top: 15px;
  margin-bottom: 12px;
}

.grid--proforma {
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.grid--proforma .grid__item {
  padding: 65px 45px;
}

.grid--proforma .stat-val {
  font-size: 2.3em;
  margin-bottom: 12px;
}

.grid--proforma .stat-desc {
  font-size: 1.05em;
  margin-top: 25px !important;
}

.grid--proforma .stat-head {
  margin-bottom: 7px;
  font-size: .85em;
  color: rgba(255, 255, 255, 0.45);
}

.grid--proforma .grid__primary .stat-head {
  color: rgba(114, 215, 233, 0.65);
}

.grid--proforma .grid__secondary {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.grid--proforma .grid__secondary .stat-val {
  color: #fff;
  font-size: 1.6em;
}

.grid--proforma-alt {
  grid-template-columns: 1fr 1fr;
}

.grid--proforma-alt .grid__item {
  padding: 55px 50px;
}

.grid--proforma-alt .grid__item p {
  line-height: 1.55em;
}

.grid--proforma-alt .grid__item .stat-val {
  margin-bottom: 8px;
}

.grid--proforma-alt .grid__item .stat-desc {
  font-size: .9em;
}

.grid--proforma-alt .grid__item--full {
  grid-column: 1/3;
}

.grid--proforma-alt .grid__item--dual .d-flex > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grid--proforma-alt .grid__item--dual .grid__primary {
  padding-right: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.grid--proforma-alt .grid__item--dual .grid__primary::after {
  content: "\e901";
  font-family: "mikeicon";
  position: absolute;
  right: 0;
  top: 50%;
  width: 32px;
  height: 32px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #242831;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.grid--proforma-alt .grid__item--dual .grid__secondary {
  padding-left: 40px;
}

.grid__item--caprate p {
  font-size: 1.2em;
}

.cap-img {
  width: 200px;
  opacity: .5;
  margin-left: 35px;
}

.btn-pro-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  text-transform: none;
  color: #fff;
  font-size: 1.1em;
  padding: 28px 25px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

.btn-pro-forma i {
  font-size: 1.8em;
  display: inline-block;
  margin-right: 25px;
  top: 0;
}

.btn-pro-forma .mikeicon-arrow {
  font-size: .8em;
  margin-left: 12px;
  -webkit-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}

.btn-pro-forma:hover .mikeicon-arrow-alt {
  -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
          transform: translateX(8px);
}

.plan:hover .plan__icon {
  opacity: 0;
}

.plan__icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(49, 49, 64, 0.4);
  color: rgba(255, 255, 255, 0.65);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.list-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-stats > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
}

.list-stats > li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
}

.list-stats p {
  margin: 0;
}

.list-stats small {
  font-size: .5em;
}

.list-withicons {
  margin: 0;
}

.list-withicons > li {
  position: relative;
  padding-left: 50px;
  margin: 16px 0;
  min-height: 38px;
}

.list-withicons .list-picto {
  position: absolute;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: rgba(114, 215, 233, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3px;
  font-size: 1.3em;
  color: #72D7E9;
}

.list-transactions > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0;
  padding-left: 100px;
}

.list-transactions > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.list-transactions > li:last-child::after {
  display: none;
}

.list-transactions > li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid #72D7E9;
  position: absolute;
  left: 40px;
  margin-top: 6px;
}

.list-transactions > li::after {
  content: "";
  display: inline-block;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 46px;
  top: 45px;
  bottom: -18px;
}

.list-transactions > li > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding-right: 15px;
  line-height: 1.25em;
}

.list-transactions > li .text-muted {
  font-size: .85em;
  display: block;
  margin-bottom: 6px;
}

.list-transactions > li .list-transactions__date {
  color: #72D7E9;
}

.list-transactions > li .list-transactions__price {
  text-align: right;
}

.btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #E4662A;
  letter-spacing: 0;
  text-transform: none;
  font-size: 1.6em;
  padding: 40px 20px;
  width: 100%;
}

.btn-next:hover {
  border: 1px solid #E4662A;
  color: #E4662A;
}

.btn-next:hover i {
  -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
          transform: translateX(8px);
}

.btn-next i {
  font-size: .7em;
  margin-left: 10px;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  display: inline-block;
}

.btn-next__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn-next__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: -10px;
  margin-left: 0;
}

.btn-next__img img {
  width: 80px;
  height: auto;
}

/* Comparison blocks */
.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.blocks .block {
  width: calc(50% - 20px);
}

.block {
  position: relative;
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px;
  margin-top: 140px;
}

.block:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.block h5 {
  font-size: 2em;
  line-height: 1.15em;
  margin: 0;
  margin-bottom: 8px;
}

.block__img {
  -webkit-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease;
  padding: 0 20px;
  margin-top: -140px;
}

.block__img img {
  max-width: 460px;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
}

.block__body {
  padding: 25px;
  padding-bottom: 30px;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  z-index: 4;
  max-width: 510px;
  margin: 0 auto;
}

.block__body .table {
  margin-top: 20px;
}

.block__body .table > tbody > tr > td {
  width: 50%;
}

.block__body .table > tbody > tr:first-child > td {
  border-top: none;
}

.block__body .table > tbody > tr:first-child > td:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.block__body .table p {
  margin: 0;
  line-height: 1.25em;
}

.block__body .table .stat-val {
  font-size: 1.8em;
}

.block__foot {
  text-align: right;
}

.blocks--contact .block {
  margin-top: 0;
}

.blocks--contact .block:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.blocks--contact .block__body {
  padding: 35px 50px;
  max-width: inherit;
}

.blocks--contact .list-contacts {
  margin: 0;
  font-size: 1.2em;
}

.blocks--contact .list-contacts > li {
  margin: 0;
}

.blocks--contact h4 {
  margin: 0;
  margin-bottom: 35px;
}

.blocks--deals .block__body .table > tbody > tr > td {
  padding-left: 20px;
}

.blocks--deals .block__body .table > tbody > tr > td:first-child {
  padding-left: 0;
}

.blocks--sponsors .block {
  margin-top: 30px;
}

.blocks--sponsors .block:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  cursor: default;
}

.blocks--sponsors .block__img {
  margin-top: -30px;
  margin-bottom: 15px;
  padding: 0 40px;
  text-align: right;
}

.blocks--sponsors .block__img img {
  width: 30%;
  margin: 0;
  display: inline-block;
}

.blocks--sponsors .block__body {
  padding-left: 40px;
  padding-right: 40px;
}

.person {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.person + .person {
  margin-top: 30px;
}

.person p {
  font-size: .8em;
  line-height: 1.2em;
}

.person .text-muted {
  opacity: .5;
  color: #fff !important;
}

.person__img {
  width: 100%;
  height: auto;
}

/*---- Misc ----*/
.tooltipster-default .tooltipster-content {
  font-family: Akkurat, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.2em;
}

.tooltip.top .tooltip-arrow {
  display: none;
}

.tooltipster-default {
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: #313140;
  -webkit-box-shadow: 0 2px 8px rgba(49, 49, 64, 0.1);
          box-shadow: 0 2px 8px rgba(49, 49, 64, 0.1);
}

.tooltip_content {
  display: none;
}

.apexcharts-yaxis-texts-g text,
.apexcharts-xaxis-texts-g text {
  fill: #fff;
}

.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

.slick-dots li button {
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.slick-dots li button::before {
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  color: #fff;
  font-size: 13px;
  opacity: .15;
}

.slick-dots li.slick-active button::before {
  color: #fff;
  opacity: .65;
}

.list-row--empty {
  background: url("../img/empty-space-bg-pattern.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
  border-radius: 2px;
}

.list-row--empty img {
  max-width: 25px;
  margin-bottom: 5px;
}

.list-row--empty__button {
  border: 1px solid #E4662A;
  border-radius: 30px;
  width: 180px;
  padding: 2px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.list-row--empty__button span {
  margin-left: 10px;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
}

.list-row--empty__button:hover {
  color: #fff;
  background: #E4662A;
}

.members__item {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

.members__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.members__text {
  text-align: center;
  margin: 10px 0;
}

.members__input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.members__input-wrapper img {
  max-width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.members__input-wrapper input {
  width: 120px;
  text-align: center;
  font-size: 22px;
}

.members__list {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 20px;
  padding-top: 10px;
}

.members__code.hidden {
  display: none;
}

.members__add .bth--transparent {
  margin-top: 20px;
}

.btn-group--switchsingle {
  margin-bottom: 30px;
}

.btn-group--switchsingle .btn.btn--outline.flex-grow-1 {
  color: #000;
}

.btn-group--switchsingle .btn.btn--outline.flex-grow-1.active {
  background: #E4662A;
  color: #fff;
}

.btn-primary--last {
  text-transform: none;
}

.add-account-wrapper .btn-primary:hover {
  background: #E4662A;
  color: #fff;
}

.serarator {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  position: relative;
}

.serarator:before {
  content: '';
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%) translateX(-100%);
      -ms-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
}

.serarator:after {
  content: '';
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%) translateX(100%);
      -ms-transform: translateY(-50%) translateX(100%);
          transform: translateY(-50%) translateX(100%);
}

.serarator-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group--buttons {
  margin-top: 30px;
}

.form-text--prompt {
  margin-top: 3px;
  font-size: 12px;
  color: #fff;
}

.modal-window {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal-window.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window__content {
  background: #fff;
  color: #000;
  padding: 30px 30px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  max-width: 98%;
  position: relative;
}

.modal-window__content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.modal-window__code-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-window__code-wrapper img {
  max-width: 100%;
}

.modal-window__code-wrapper input {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: url("../img/code-placeholder.png");
  background-size: 100%;
  outline: none;
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
  color: #e4662a;
  cursor: pointer;
  margin: 0 2.5px;
}

.modal-window__code-wrapper input:focus {
  background: url("../img/code-placeholder-active.png");
  background-size: 100%;
}

.modal-window__title {
  color: #313140;
  margin-bottom: 15px;
}

.modal-window__past {
  cursor: pointer;
}

.modal-window__code-wrapper input.active {
  background: url("../img/code-placeholder-filledin.png");
  background-size: 100%;
}

.modal-window__past-code {
  padding-top: 15px;
  display: none;
}

.modal-window__past-code .btn {
  background: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #E4662A;
  color: #E4662A;
}

.modal-window__past-code .btn:hover {
  background: #E4662A;
  color: #fff;
}

.list-head-actions {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mikeicon-type-rehersal img,
.mikeicon-type-meeting img,
.mikeicon-type-gig img,
.mikeicon-type-other img {
  width: 25.6px;
}

.dropdown-menu--filter .dropdown-item.choosen {
  color: #E4662A;
}

@media only screen and (max-width: 992px) {
  .list-row--priority:before {
    left: 4px;
    top: 3px;
  }
  .list-row__menu {
    top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    padding-bottom: 10px;
  }
  .list-row__menu img {
    max-height: 12px;
    margin-right: 5px;
    margin-bottom: 0;
    max-height: 12px;
  }
  .list-row__menu img:last-child {
    margin-bottom: 0;
  }
}
