/* Header & Navbar */
/* ---- Theme Variables ---- */
/* Font */
/* Colors */
/* Transitions */
/* Element radius */
.site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  padding: 0;
  background-color: #20202B;
  height: 70px;
}

@media only screen and (max-width: 993px) {
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 56px;
  }
}

.navbar-brand {
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-brand img {
  width: 130px;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media only screen and (max-width: 993px) {
  .navbar-brand {
    text-align: center;
    margin-right: 0;
  }
  .navbar-brand img {
    width: 100px;
  }
}

.navbar-tagline {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 11px;
  margin: 0;
  margin-left: 15px;
  max-width: 170px;
  opacity: .5;
  white-space: normal;
  text-align: left;
  line-height: 1.2em;
}

@media only screen and (max-width: 1200px) {
  .navbar-tagline {
    display: none;
  }
}

.navbar-toggler {
  padding: 20px 15px;
  color: #fff;
}

@media only screen and (max-width: 993px) {
  .navbar-toggler {
    position: absolute;
    left: 0;
  }
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
  font-size: .85em;
  font-weight: 700;
  padding: 27px 0;
  line-height: 1.1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link i {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

@media only screen and (max-width: 993px) {
  .navbar-nav .nav-link {
    padding: 20px 30px;
  }
}

.navbar-nav .nav-item {
  margin: 0 12px;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

@media only screen and (min-width: 993px) {
  .navbar-nav .nav-item.active .nav-link {
    -webkit-box-shadow: inset 0 1px 0 #E4662A;
            box-shadow: inset 0 1px 0 #E4662A;
  }
}

.navbar-nav .nav-item-center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .btn-primary {
  letter-spacing: 0;
}

@media only screen and (min-width: 1200px) {
  .navbar-nav-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.navbar-nav-right {
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (min-width: 1200px) {
  .navbar-nav-right {
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 993px) {
  .navbar-nav-right .nav-item-action {
    display: none;
  }
  .navbar-nav-right .dropdown-user {
    position: absolute;
    top: 16px;
    left: 25px;
  }
  .navbar-nav-right .dropdown-user > .nav-link {
    padding: 0;
  }
  .navbar-nav-right .dropdown-user .dropdown-menu {
    width: 220px;
    background-color: #15151c;
  }
}

.navbar-mobile-actions {
  position: absolute;
  right: 0;
  padding-right: 12px;
}

@media only screen and (min-width: 993px) {
  .navbar-mobile-actions {
    display: none;
  }
}

@media only screen and (max-width: 993px) {
  .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    -webkit-transform: translate3d(-300px, 0, 0);
            transform: translate3d(-300px, 0, 0);
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 300px;
    background-color: #20202B;
    overflow-y: auto;
    -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .navbar-collapse.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar-collapse .navbar-nav-center {
    margin-top: 70px;
  }
  .navbar-collapse .dropdown-other > .nav-link {
    display: none;
  }
  .navbar-collapse .dropdown-other .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .navbar-collapse .dropdown-other .dropdown-item {
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8rem;
    opacity: .8;
    padding: 20px 30px;
    padding-left: 50px;
    line-height: 1.2em;
  }
}

.btn-closemenu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 26px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;
}

.btn-closemenu:hover {
  color: rgba(49, 49, 64, 0.8);
}

@media only screen and (min-width: 993px) {
  .btn-closemenu {
    display: none;
  }
}

.mobilebar {
  background-color: #313140;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  z-index: 39;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}

.mobilebar .btn-default {
  padding: 11px 15px;
  font-size: .85em;
  letter-spacing: 0;
  text-transform: none;
}

.mobilebar .btn-default:hover {
  background-color: #fff;
  color: #E4662A;
}

.mobilebar__actions {
  padding: 2px;
  padding-right: 7px;
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
}

.mobilebar__actions--last {
  text-align: right;
}

.mobilebar__branding {
  color: #fff;
}

.mobilebar__branding i {
  font-size: 24px;
}

.mobilebar__branding img {
  width: 120px;
}

.btn-mobilemenu {
  padding: 14px 14px;
  background-color: transparent;
  border: 0;
}

.btn-mobilemenu .title {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  float: left;
  margin-left: 5px;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.btn-mobilemenu .bars {
  float: left;
}

.btn-mobilemenu .icon-bar {
  display: block;
  background-color: #fff;
  -webkit-transition: .2s all ease-out;
  -o-transition: .2s all ease-out;
  transition: .2s all ease-out;
  width: 28px;
  height: 2px;
}

.btn-mobilemenu .icon-bar + .icon-bar {
  margin-top: 6px;
}

.btn-mobilemenu .icon-bar.icon-bar2 {
  width: 24px;
}

.btn-mobilemenu .icon-bar.icon-bar3 {
  width: 20px;
}

.btn-mobilemenu:hover {
  color: #fff;
}

.btn-mobilemenu:hover .title {
  color: #fff;
}

.btn-mobilemenu:hover .icon-bar {
  background-color: #fff;
}

.btn-mobilemenu:hover .title {
  color: #fff;
}

.btn-mobilemenu:hover .icon-bar1 {
  -webkit-transform: scale(0.8, 1);
      -ms-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.btn-mobilemenu:hover .icon-bar3 {
  -webkit-transform: scale(0.85, 1);
      -ms-transform: scale(0.85, 1);
          transform: scale(0.85, 1);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.navbar-nav .nav-item.active .nav-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 1350px) {
  .navbar-tagline {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .navbar-brand {
    padding-right: 0;
  }
  .navbar-brand img {
    width: 6.5vw;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar-nav .nav-item {
    margin: 0 7px;
  }
}

@media only screen and (max-width: 993px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-brand img {
    width: 100px;
    padding-right: 25px;
  }
  .navbar-expand-lg .navbar-nav.mr-auto {
    padding-left: 4vw;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
  }
}

@media only screen and (max-width: 992px) {
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.btn {
  padding-top: 14px;
  padding-bottom: 14px;
}

.btn-primary,
.btn-primary:focus {
  background-color: #E4662A;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus:hover {
  background-color: #e77641;
  color: #fff;
}

.btn-new {
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: .9rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.btn-new:hover {
  color: #fff;
}

.btn-new i {
  margin-right: 6px;
  position: relative;
  top: -1px;
}

@media only screen and (max-width: 992px) {
  .btn-new {
    font-size: .8rem;
  }
  .btn-new i {
    top: 0;
  }
  .btn-new .hidden-label {
    display: none;
  }
}

.btn-text-simple,
.btn-text-simple:focus {
  color: rgba(255, 255, 255, 0.8);
}

.btn-text-simple:hover,
.btn-text-simple:focus:hover {
  color: #fff;
}

.btn-text-simple i,
.btn-text-simple:focus i {
  font-size: .9rem;
}

.mikeicon-type-rehersal {
  color: #2E7692;
}

.mikeicon-type-meeting {
  color: #7646AA;
}

.content {
  padding-top: 70px;
}

@media only screen and (max-width: 992px) {
  .content {
    padding-top: 56px;
  }
}

.content-head {
  padding: 20px;
  text-align: center;
}

.content-head h1 {
  margin: 0;
  line-height: 1.2em;
  font-size: 2rem;
}

.content-head p {
  margin: 0;
  margin-top: 6px;
}

@media only screen and (max-width: 992px) {
  .content-head h1 {
    font-size: 1.7rem;
  }
  .content-head p {
    margin-top: 2px;
  }
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 12px 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat + .stat {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .stat + .stat {
    margin-top: 5px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .stat {
    padding: 10px 16px;
  }
}

.stat-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  position: relative;
}

.stat-link:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.stat-link:hover .stat-desc {
  color: #fff;
}

.stat-link:hover::after {
  right: 14px;
  opacity: .65;
}

.stat-link::after {
  content: "\e911";
  line-height: 1em;
  font-size: .8rem;
  font-family: "mikeicon";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -4px;
  opacity: .3;
  -webkit-transition: .35s ease-out;
  -o-transition: .35s ease-out;
  transition: .35s ease-out;
}

.stat-val {
  margin: 0;
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px;
  position: relative;
  top: -1px;
}

@media only screen and (max-width: 992px) {
  .stat-val {
    font-size: 1.7rem;
    margin-right: 8px;
  }
}

.stat-desc {
  color: rgba(255, 255, 255, 0.65);
  line-height: 1.2em;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  font-size: .9rem;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

@media only screen and (max-width: 992px) {
  .stat-desc {
    font-size: .8rem;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-header {
  position: relative;
}

.tabs-header .actions {
  position: absolute;
  right: 0;
  padding-top: 10px;
}

@media only screen and (max-width: 992px) {
  .nav-tabs-tasks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
