/* ---- Theme Variables ---- */
/* Font */
/* Colors */
/* Transitions */
/* Element radius */
/* Onboarding */
.onboarding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
  padding-bottom: 35px;
}

.onboarding h4 {
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.onboarding__content {
  width: 100%;
  max-width: 360px;
}

.btn-group--large .btn {
  font-size: 1.2em;
  padding-top: 13px;
  padding-bottom: 13px;
}

.btn-group--type .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.plans {
  display: grid;
  grid-gap: 20px;
  margin-top: 35px;
}

.plan {
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  color: #fff;
  background-color: #313140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan:hover {
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 10px 35px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1px #fff, 0 10px 35px rgba(0, 0, 0, 0.2);
}

.plan h5 {
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2em;
  margin-bottom: 5px;
}

.plan__head {
  padding: 15px 30px;
  padding-top: 30px;
  text-align: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.plan__price {
  font-size: 1.1rem;
}

.plan__save {
  background-color: #7DC9DF;
  font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: absolute;
  right: -8px;
  padding: 3px 6px;
  width: 60px;
  text-align: left;
  -webkit-transform: skew(-4deg);
      -ms-transform: skew(-4deg);
          transform: skew(-4deg);
}

.plan__save p {
  line-height: 1em;
  margin: 0;
}

.plan__save small {
  display: block;
}

.plan__body {
  padding: 0 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.plan__body p {
  opacity: .8;
  font-size: .9rem;
}

.plan__foot {
  padding: 15px 30px;
  padding-bottom: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media only screen and (min-width: 768px) {
  .onboarding {
    padding: 0;
  }
  .onboarding h4 {
    font-size: 1.8rem;
  }
  .plans {
    grid-template-columns: 1fr 1fr;
    margin-left: -185px;
  }
  .plan {
    width: 360px;
  }
  .plan__body p {
    font-size: 1rem;
  }
}
